
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: solid 2px black;

}
.img{
    width: 500px;
    height: 500px;
    position: absolute;
    opacity: 0;
}

.active{
    opacity: 1;
    transition: all 2s ease-in-out;
}

button{
    position: relative;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 25%;
    
}

#prev{
    width: 50px;
    height: 50px;
    left:250px;
    border: none;
    color: white;
    transform: rotate(90deg) ;  
    font-size: 30px;
}

#next{
    width: 50px;
    height: 50px;
    right: 250px;
    border: none;
    color: white;
    transform: rotate(-90deg) ;
    font-size: 30px;
   

   
}